@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --clr-softBlack: #040A1D;
  --clr-brightorange: #FF3D00;
  --clr-concretewhite: #F4F4F4;
  --clr-dullwhite: #767f85;
  --clr-oddblue: #d3def0;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --clr-softBlack: #F4F4F4;
    --clr-brightorange: #FF3D00;
    --clr-concretewhite: #040A1D;
    --clr-oddblue: #003e9b;


  }


} */

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-concretewhite);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-header {
  position: relative;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px){
  .nav-header::before,
  .nav-header::after {
    --border-radius: 2rem;

    content: "";
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    bottom: 0;
    background: #040A1D;
  }

  .nav-header::before {
    left: calc(var(--border-radius) * -1);
    border-radius: 0 0 100vw;
    background:  #F4F4F4;
    box-shadow: 10px 8px 0 5px #040A1D;
  }

  .nav-header::after {
    right: calc(var(--border-radius) * -1);
    border-radius: 0 0 0 100vw;
    background: #F4F4F4;
    box-shadow: -10px 8px 0 5px #040A1D;
  }
}

.nav-header::before{
    --border-radius: 2rem;

    content: "";
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    bottom: 0;
    background: #040A1D;
  }

  .nav-header::before {
    left: calc(var(--border-radius) * -1);
    border-radius: 0 0 100vw;
    background:  #F4F4F4;
    box-shadow: 10px 10px 0 5px #040A1D;
  }

.typewriter{
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid white;
  animation:
    typing 5s steps(10),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor{
  50%{ border-color: transparent; }
}

.cta-button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--clr-brightorange);
  transition: all 0.2s ease;
}

.cta-button:active {
  transform: scale(0.96);
}

.cta-button:before,
.cta-button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.cta-button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--clr-brightorange) 20%, transparent 30%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--clr-brightorange) 15%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.cta-button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--clr-brightorange) 15%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle, var(--clr-brightorange) 20%, transparent 20%),
    radial-gradient(circle,var(--clr-brightorange) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* marquee */

.marquee-content{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content p{
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 4rem;
  letter-spacing: 1px;
  animation: marquee 30s linear infinite;
}


@keyframes marquee {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}


.marquee-container:hover .marquee-content p{
  animation-play-state: paused;
}

/* servicios */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 254px;
  background: var(--clr-softBlack);
  color: var(--clr-concretewhite);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s 0s linear;
  position: relative;
  overflow: hidden;
}
.card:active {
  scale: 0.95;
}
.card::after {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: var(--clr-brightorange);
  position: absolute;
  right: 250px;
  transition: right 0.4s 0s linear;
  z-index: 1;
}
.card:hover::after {
  right: -160px;
}
.card:hover {
  color: var(--clr-softBlack);
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}
.card p {
  z-index: 10;
  
}

/*testimonios*/
.testimonialBox {
  width: 250px;
  height: 300px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}

.testimonial {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}

.testimonial .h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 800;
  pointer-events: none;
  opacity: .5;
}

.testimonial .content .h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

.testimonial .content p {
  font-size: 14px;
  line-height: 1.4em;
}

.testimonial .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.testimonial:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.testimonial:hover .h4 {
  opacity: 0;
}

.testimonialBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40E0D0;
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  transform-origin: center;
  animation: glowBorder 5s linear infinite;
}

@keyframes glowBorder {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

